@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
    font-family: 'Digital';
    src: url('../font/digital-7.ttf');
}

:root {
    --fontpoppins : 'Poppins', sans-serif;
    --fontdigital : 'Digital';
    --navbarColor : #fff;
    --menubarColor : #979797;
    --menubarTextColor : #333;
    --sectioncolor : #fff;
    --placeholdercolor : #333;
    --position : 0px;
}

.dark-mode {
    --navbarColor : #ebdc0c;
    --menubarColor : #474747;
    --menubarTextColor : #fff;
    --sectioncolor : rgb(90, 90, 90);
    --placeholdercolor : #eaeaea;
    --position : translateX(30px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal Code */
.container-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-toggle p {
    color: var(--menubarTextColor);
    transition: 0.3s ease-in-out;
}
.container-toggle .theme-mode {
    width: 60px;
    height: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    border: 2px solid var(--menubarTextColor);
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.container-toggle .theme-mode .toggle {
    width: 30px;
    height: 30px;
    background-color: var(--menubarTextColor);
    border-radius: 50%;
    transform: var(--position);
    transition: 0.3s ease-in-out;
}
/* Universal Code */


/* Navbar Start in Here */
div.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 50px;
    position: fixed;
    z-index: 10;
    font-family: var(--fontpoppins);
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbarColor);
    box-shadow: 0 2px 15px #333;
    transition: 0.3s ease-in-out;
}
div.navbar img {
    width: 150px;
}

div.navbar .container-toggle p {
    color: var(--menubarColor);
}
div.navbar .container-toggle .theme-mode {
    border: 2px solid var(--menubarColor);
}
div.navbar .container-toggle .theme-mode .toggle {
    background-color: var(--menubarColor);
}
div.navbar #hamburger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
div.navbar #hamburger-menu span {
    width: 30px;
    height: 3px;
    background-color: #222222;
    margin: 4px;
}

div.navbar #hamburger-menu span:nth-child(1) {
    animation: CloseAnimationLine1 1s ease-in-out;
}
div.navbar #hamburger-menu span:nth-child(2) {
    animation: CloseAnimationLine2 1s ease-in-out;
}
div.navbar #hamburger-menu span:nth-child(3) {
    animation: CloseAnimationLine3 1s ease-in-out;
}
div.navbar #hamburger-menu span:nth-child(1).active {
    transform: translateY(11px) rotate(-45deg);
    animation: openAnimationLine1 1s ease-in-out;
}
div.navbar #hamburger-menu span:nth-child(2).active {
    transform: scale(0);
    animation: openAnimationLine2 1s ease-in-out;
}
div.navbar #hamburger-menu span:nth-child(3).active {
    transform: translateY(-11px) rotate(45deg);
    animation: openAnimationLine3 1s ease-in-out;
}

@keyframes openAnimationLine1 {
    0% {
        transform: translateY(0px) rotate(0);
    }
    40% {
        transform: translateY(20px) rotate(60deg);
    }
    80% {
        transform: translateY(5px) rotate(-180deg);
    }
}
@keyframes openAnimationLine2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px) scale(0);
    }
}
@keyframes openAnimationLine3 {
    0% {
        transform: translateY(0px) rotate(0);
    }
    40% {
        transform: translateY(-20px) rotate(-60deg);
    }
    80% {
        transform: translateY(-5px) rotate(180deg);
    }
}
@keyframes CloseAnimationLine1 {
    0% {
        transform: translateY(11px) rotate(-45deg);
    }
    40% {
        transform: translateY(5px) rotate(-180deg);
    }
    80% {
        transform: translateY(20px) rotate(60deg);
    }
    100% {
        transform: translateY(0px) rotate(0);
    }
}
@keyframes CloseAnimationLine2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: translateX(100px) scale(0);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes CloseAnimationLine3 {
    0% {
        transform: translateY(-11px) rotate(45deg);
    }
    40% {
        transform: translateY(-5px) rotate(180deg);
    }
    80% {
        transform: translateY(-20px) rotate(-60deg);
    }
    100% {
        transform: translateY(0px) rotate(0);
    }
}
/* Navbar End in Here */

/* Content Start in here */
section.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 120px calc(100% - 120px);
    padding-top: 80px;
}

/* Section Left Start In here */
section.container .container-left {
    width: 100%;
    height: 100%;
    background-color: var(--menubarColor);
    font-family: var(--fontpoppins);
    transition: 0.3s ease-in-out;
}
/* Menubar Start in here */
section.container .container-left .card {
    color: var(--menubarTextColor);
    width: inherit;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
    align-items: center;
    cursor: pointer;
}
section.container .container-left .card i.bi {
    font-size: 30px;
}
section.container .container-left .card:hover,
section.container .container-left .card.active {
    background-color: var(--navbarColor);
    color: var(--menubarColor);
}
/* Menubar End in here */

/* Toggle Theme */
section.container .container-left .container-toggle {
    display: none;
    margin: 20px 0;
}
/* Toggle Theme */
/* Section Left End In here */


/* Container Right Start in here */
section.container .container-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sectioncolor);
    transition: 0.3s ease-in-out;
}
section.container .container-right section.container-time {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--menubarColor);
    position: relative;
}
section.container .container-right section.container-time .tools {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: var(--navbarColor);
}
section.container .container-right section.container-time #timer {
    font-family: var(--fontpoppins);
    display: flex;
    align-items: center;
    justify-content: center;
}
section.container .container-right section.container-time #timer .block {
    display: flex;
    align-items: center;
}
section.container .container-right section.container-time #timer .time {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
}
section.container .container-right section.container-time #timer .time .timer {
    color: var(--navbarColor);
    z-index: 2;
}
section.container .container-right section.container-time #timer .time p.placeholder {
    position: absolute;
    top: 0;
    color: var(--placeholdercolor);
    text-shadow: 2px 2px 5px var(--placeholdercolor);
}
section.container .container-right section.container-time #timer .time .timer-text {
    font-size: 30px;
    color: var(--placeholdercolor);
    position: absolute;
    bottom: -13px;
}
section.container .container-right section.container-time #timer .colon {
    font-size: 15vw;
    text-shadow: 2px 2px 5px var(--placeholdercolor);
    color: var(--navbarColor);
}
section.container .container-right section.container-time .btnset-cancel {
    font-family: var(--fontpoppins);
    margin-top: 50px;
}
section.container .container-right section.container-time .btnset-cancel #set-time,
section.container .container-right section.container-time .btnset-cancel #cancel-time {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}
section.container .container-right section.container-time .btnset-cancel #set-time {
    background-color: greenyellow;
}
section.container .container-right section.container-time .btnset-cancel #cancel-time {
    background-color: red;
    display: none;
}
/* Container Right End in here */

/* Form Start in here */
div.container-form#container-form {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(30%);
    z-index: 11;
}
div.container-form#container-form #form {
    background-color: aqua;
    width: 800px;
    height: 400px;
}
/* Form End in here */

/* Responsive */
@media only screen and (max-width:600px) {
    div.navbar .container-toggle {
        display: none;
    }
    div.navbar #hamburger-menu {
        display: flex;
    }
    section.container {
        display: flex; 
    }
    section.container .container-left {
        display: none;
        width: 200px;
        right: 0;
        position: fixed;
        z-index: 5;
        box-shadow: 5px 0 10px var(--navbarColor);
    }
    section.container .container-left .card {
        width: 100%;
    }
    section.container .container-left .container-toggle {
        display: flex;
    }
    section.container .container-right section.container-time #timer{
        display: flex;
        flex-direction: column;
    }
    section.container .container-right section.container-time #timer .time {
        font-size: 10em;
    }
    section.container .container-right section.container-time #timer .colon#colon {
        display: none;
    }
}